@using AppLaunch.Services
@implements IDisposable

@inject NavigationManager NavigationManager
@inject IPluginMenuProvider PluginMenuProvider



<MudNavMenu>
    <div style="height: 20px;"></div> <!-- Adds vertical space -->
    <AuthorizeView>
        <Authorized>
            <MudNavLink Href="/admin/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudNavLink>
        </Authorized>
    </AuthorizeView>
   
    @foreach (var menuComponent in PluginMenuProvider.GetPluginMenus())
    {
        <DynamicComponent Type="menuComponent" />
    }
    
    <AuthorizeView Roles="Admin">
        <Authorized>
            <MudNavLink Href="/Admin/Plugins" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Apps">Plugins</MudNavLink>
            <MudNavLink Href="/Admin/Settings" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Settings">Settings</MudNavLink>
            <MudNavLink Href="/Admin/Users" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.People">Users</MudNavLink>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView>
        <Authorized>
            @* <MudNavLink Href="Account/Manage" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person">@context.User.Identity?.Name</MudNavLink> *@
            <form action="Account/Logout" method="post">
                <AntiforgeryToken/>
                <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                <button type="submit" class="mud-nav-link mud-ripple">
                    <MudIcon Icon="@Icons.Material.Filled.ExitToApp" Class="mr-3"></MudIcon> Sign Out
                </button>
            </form>
        </Authorized>
        <NotAuthorized>
            @* <MudNavLink Href="Account/Register" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person">Register</MudNavLink> *@
            <MudNavLink Href="Account/Login" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Login">Sign In</MudNavLink>
        </NotAuthorized>
    </AuthorizeView>
</MudNavMenu>


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

